@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
// COLORS
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);
$Transparent: transparent;
// FONTS
$Font-size: 15px;
$Font-family-alata: "Alata", sans-serif;
$Font-family-josfin: "Josefin Sans", sans-serif;
// DIMENSIONS
$Width-mobile: 20.125rem;
$Height-mobile: 510vh;
$Width-desktop: 100vw;
$Height-desktop: 500vh;
$Width-media: 48rem;
$Width-maxim: 75rem;
